*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body , .error{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.error > h1{
    border-right: 1px solid gray;
    padding-right: 10px;
}

.error > h3{
    padding-left: 10px;
}