@media only screen and (max-width: 1100px){

    body{
        margin-bottom: 85px;;
    }

    h1{
        font-size: 1.5rem !important;
    }

    .options li{
        text-align: center;
    }

    .options li a{
        font-size: 0.95rem;
    }
    
    footer{
        flex-direction: column;
    }

    .opt{
        padding: 10px 0;
    }

}